.mainbody{
  background-color:fefaf0;
  /* font-size: 50px; */
  color: #3f3c37;
  width: 100%;
  overflow: hidden;
  background-color:#ffde82;
}

.open-sans500 {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.open-sans800 {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
.open-sans600 {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.montserrat500 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.montserrat800 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}